body {
    background-color: #c9dfe5;
}


p {
    color: gray;
    font-size: .75em;
    margin-top: 10px;
    margin-left: 12px;
    margin-bottom: 10px;
}

form {
    background-color: white;
}


#name {
    display: inline-block;   
    width: 50%;
    box-sizing: border-box;
    
}


#company {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
}

#phone {
    display: inline-block;
    width: 33.33%;
    box-sizing: border-box;
}

#email {
    display: inline-block;
    width: 33.33%;
    box-sizing: border-box;
}

#availability {
    display: inline-block;
    width: 33.33%;
    box-sizing: border-box;
}

#skills {
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
}

#years {
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
}

#favorite {
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
}

#language {
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    
}

input {
    height: 1.1em;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;

}

#submit {
    display: flex;
    justify-content: center;
    padding: 18px;
    
}


section {
    border: 1px solid lightgray;
}
